body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.customButton {
    background-color: #11998e;
    color:white;
}

.customButton2 {
    background-color: white;
    color: #11998e;
}

/*Navbar link*/
.nav li a {
    color: #11998e;
    font-size:15px;
}
/*Navbar header link*/
.navbar-header a {
    color: #11998e;
    font-size: 20px;
}

.whiteText {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}

.whiteCard {
    background-color: #f7f7f7;
    color: black;
    box-shadow: 5px 10px 8px #206750;
    border-radius: 8px;
}

.greenCard {
    color: white;
    border-radius: 8px;
    padding: 7px;
    background-color: #05665b;
    box-shadow: 5px 10px 8px #206750;
}

.greenLine {
    margin: 2px 10px 2px 10px;
    background-color: #45c687;
    height: 1px;
}

.whiteLine {
    margin: 2px 10px 2px 10px;
    background-color: white;
    height: .5px;
}