@{
    ViewBag.Title = "About";
}

<div class="whiteText text-center">
    <h2>@ViewBag.Title.</h2>

    <h4>This website is just about managing your playing and buying habits of video games. More info coming soon...</h4>

</div>
