@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h3>Games List</h3>
        <p>
            Access the your games List. We list off all your games in a list and from there you can add, delete, and edit games to your list.
        </p>
        <p><a class="btn btn-default" href="/Games/Index">Go to List &raquo;</a></p>
    </div>

    <div class="col-md-6" style="text-align:center">
        <h3>Money by Year Analysis</h3>
        <p>
            Anaylyze money spend on games with a a list of money spend each month of a given year. Look at the trends and times you spend less or more. Other info too.
        </p>
        <p><a class="btn btn-default" href="/Games/MoneyAnalysis">Go to Money Analysis &raquo;</a></p>
    </div>
    <div class="col-md-6" style="text-align:center">
        <h3>Type by Year Analysis</h3>
        <p>
            Analyze type of games played with a count of a selected type each month of a given year. Type includes stuff like physical v. digit copy, borrowed v. owned, 2 game System Analysis, and replayed v. first play.
        </p>
        <p><a class="btn btn-default" href="/Games/TypeAnalysis">Go to Type Analysis &raquo;</a></p>
    </div>

</div>
}
else
{
    <div class="jumbotron">
        <h1>Game Manager</h1>
        <p class="lead">Analyze your video game spending and playing habits here. We aim to help you better understand yourself when it comes to how games are bought and played. </p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register Here &raquo;</a></p>
    </div>
}