@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="text-center whiteCard jumbotron" style=" padding:15px;">
        <h1 style="color:#20785C"><b>Game Manager</b></h1>
        <h4><i>Analyze your video game spending and playing habits here.</i></h4>
    </div>
    <div class="row">

        <div class="col-md-4" style="text-align:center;">
            <div class="greenCard">
                <h2 class="whiteText">Buy Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    <i>Get yearly data on games bought.</i>
                    @*<a style="color:white" data-toggle="collapse" data-target="#buyDrop">>></a>*@
                </h4>
                @*
                    <div id="buyDrop" class="collapse whiteText">
                        <p></p>
                    </div>
                *@
                <p><a class="btn customButton2" href="/Games/MoneyAnalysis">Enter</a></p>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center">
            <div class="greenCard">
                <h2 class="whiteText">Years Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    <i>Get across year game data.</i>
                </h4>

                <p><a class="btn customButton2" href="/Games/AcrossYearsAnalysis">Enter</a></p>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center">
            <div class="greenCard">
                <h2 class="whiteText">Play Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    <i>Get yearly data on games played.</i>
                </h4>
                <p><a class="btn customButton2" href="/Games/TypeAnalysis">Enter</a></p>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center">

            <div class="whiteCard" style="padding:1px; line-height:5px;">
                <h2 style="line-height:10px;">Games List</h2>
                <hr class="greenLine" />
                <h4>
                    <i>View, Add, Delete, and Edit games in your games list here.</i>
                </h4>
                <p><a class="btn customButton" href="/Games/Index">Go to List </a></p>
            </div>
        </div>

    </div>
}
else
{
    <br />
    <div class="jumbotron text-center" style="box-shadow: 5px 10px 8px #206750">
        <h1><b>Game Manager</b></h1>
        <hr />
        <p class="lead"><i>Analyze your video game spending and playing habits here. We aim to help you better understand yourself when it comes to how games are bought and played. </i></p>
        <p><a href="/Account/Register" class="btn btn-lg customButton">Register Here &raquo;</a></p>
    </div>
}