@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-12" style="text-align:center">

            <div class="whiteCard" style="margin-top: 10px; padding:5px">
                <h2>Games List</h2>
                <hr class="greenLine" />
                <p>
                    View, Add, Delete, and Edit games in your games list here.

                </p>
                <p><a class="btn customButton" href="/Games/Index">Go to List </a></p>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center;">
            <div class="greenCard" style="margin-top: 18px;">
                <h2 class="whiteText">Buy Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    Get yearly data on games bought.
                    @*<a style="color:white" data-toggle="collapse" data-target="#buyDrop">>></a>*@
                </h4>
                @*
                    <div id="buyDrop" class="collapse whiteText">
                        <p></p>
                    </div>
                *@
                <p><a class="btn customButton2" href="/Games/MoneyAnalysis">Enter</a></p>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center">
            <div class="greenCard" style="margin-top: 18px;">
                <h2 class="whiteText">Years Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    Get across year game data.
                </h4>

                <p><a class="btn customButton2" href="/Games/AcrossYearsAnalysis"   >Enter &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-4" style="text-align:center">
            <div class="greenCard" style="margin-top: 18px;">
                <h2 class="whiteText">Play Report</h2>
                <hr class="whiteLine" />
                <h4 class="whiteText">
                    Get yearly data on games played.
                </h4>
                <p><a class="btn customButton2" href="/Games/TypeAnalysis">Enter</a></p>
            </div>
        </div>



    </div>
}
else
{
    <br />
    <div class="jumbotron text-center" style="box-shadow: 5px 10px 8px #206750">
        <h1><b>Game Manager</b></h1>
        <hr />
        <p class="lead"><i>Analyze your video game spending and playing habits here. We aim to help you better understand yourself when it comes to how games are bought and played. </i></p>
        <p><a href="/Account/Register" class="btn btn-lg customButton">Register Here &raquo;</a></p>
    </div>
}